.orders-container {
  margin: 190px;
  display: flex;
}
.main {
  width: 60%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
}
.main-table {
  display: flex;
  flex-direction: column;
}
